@model Planner.Models.Availability

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Availability</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="createAvailability" onsubmit="return createAvailability()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <input type="checkbox" name="enableSeries" id="enableSeries"/>
            <label for="enableSeries" class="control-label">Make recurring</label>
            <div class="form-group" id="series">
                <label class="control-label">Recurrence pattern</label>
                <br />
                <input type="radio" name="pattern" value="daily" id="dailyRadio" checked>
                <label for="dailyRadio">Daily</label>
                <input type="radio" name="pattern" value="weekly" id="weeklyRadio" />
                <label for="weeklyRadio">Weekly</label>
                <div id="daily">
                    <label>
                        <input type="radio" name="dailyPattern" value="every" checked>
                        Every <input type="number" name="everyDays" value="1" min="1" /> day(s)
                    </label>
                    <br />
                    <label>
                        <input type="radio" name="dailyPattern" value="weekday">
                        Every weekday
                    </label>
                </div>
                <div id="weekly">
                    <label>Recur every <input type="number" name="everyWeeks" value="1" min="1" /> weeks on:</label>
                    <br />
                    <label>
                        <input type="checkbox" name="everyWeeksDays" value="monday" />
                        Monday
                    </label>
                    <label>
                        <input type="checkbox" name="everyWeeksDays" value="tuesday" />
                        Tuesday
                    </label>
                    <label>
                        <input type="checkbox" name="everyWeeksDays" value="wednesday" />
                        Wednesday
                    </label>
                    <label>
                        <input type="checkbox" name="everyWeeksDays" value="thursday" />
                        Thursday
                    </label>
                    <label>
                        <input type="checkbox" name="everyWeeksDays" value="friday" />
                        Friday
                    </label>
                    <label>
                        <input type="checkbox" name="everyWeeksDays" value="saturday" />
                        Saturday
                    </label>
                    <label>
                        <input type="checkbox" name="everyWeeksDays" value="sunday" />
                        Sunday
                    </label>
                </div>
                <div class="form-group" id="range">
                    <label class="control-label">End by: </label>
                    <input type="date" name="range" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
